<!DOCTYPE html>
<html data-controller="color-scheme">
  <head>
    <title><%= content_for(:title) || "Store Okkio" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "css-zero/reset", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "css-zero/variables", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "css-zero/utilities", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="header-layout">
  

    <header id="header">
      <div contents data-controller="popover" data-popover-placement-value="bottom-start">
        <button type="button" class="btn btn--icon" data-popover-target="trigger" popovertarget="color_scheme_popover" aria-haspopup="true">
          <span class="icon icon--sun icon--color-scheme-light" aria-hidden="true"></span>
          <span class="icon icon--moon icon--color-scheme-dark" aria-hidden="true"></span>
          <span class="sr-only">Theme switcher</span>
        </button>
        <div popover id="color_scheme_popover" class="popover" data-popover-target="content" role="menu" aria-label="Menu">
          <div class="menu" data-controller="menu" data-action="keydown->menu#navigate">
            <button type="button" class="btn menu__item" data-action="popover#hide color-scheme#setLight" data-menu-target="item" role="menuitem">Light</button>
            <button type="button" class="btn menu__item" data-action="popover#hide color-scheme#setDark" data-menu-target="item" role="menuitem">Dark</button>
            <button type="button" class="btn menu__item" data-action="popover#hide color-scheme#setSystem" data-menu-target="item" role="menuitem">System</button>
          </div>
        </div>
      </div>
      <div class="flex justify-between container">
        <div class="flex items-center gap">
          <%= image_tag "/icon.svg", alt: "Store Okkio", width: "32", height: "32" %>
          <%= link_to root_path do %>
            <h1>Store Okkio</h1>
          <% end %>
        </div>
      <nav class="flex gap ">
        <%= button_to "Log out", session_path, method: :delete if authenticated? %>
      </nav>
      </div>
    </header>

    <main id="main">
      <% if notice.present? %>
        <div popover class="flash" style="--flash-position: 5rem;" data-controller="element-removal" data-action="animationend->element-removal#remove" role="alert"><%= notice %></div>
      <% end %>
      <div class="notice"><%= notice %></div>
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
